{{#>layouts/default page='Home'}}
    {{!-- 1 --}}
    <div class="container mt-6 flex flex-col lg:hidden justify-center space-y-8 text-gray-800 anime-enter-cards-mobile">
        <div class="text-gray-800 bg-gray-50 p-8 rounded-lg" style="transform: translateX(0) translateY(200%); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
        <div class="text-gray-800 bg-gray-50 p-8 rounded-lg" style="transform: translateX(0) translateY(100%); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
        <div class="text-gray-800 bg-gray-50 p-8 rounded-lg" style="transform: translateX(0) translateY(0); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
    </div>
    <div class="container mt-6 hidden lg:flex justify-center space-x-8 text-gray-800 anime-enter-cards">
        <div class="text-gray-800 bg-gray-50 shadow p-8 rounded-lg z-10" style="transform: translateX(0%) translateY(-1500px); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
        <div class="text-gray-800 bg-gray-50 shadow p-8 rounded-lg z-10" style="transform: translateX(-100%) translateY(-1500px); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
        <div class="text-gray-800 bg-gray-50 shadow p-8 rounded-lg z-10" style="transform: translateX(-200%) translateY(-1500px); opacity: 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, asperiores! Temporibus quo ad amet dicta minus assumenda eos! Distinctio asperiores minima provident perspiciatis ab reiciendis.</div>
    </div>
    <svg style="display: none;">
        <defs>
            <filter id="gooey">
                <feGaussianBlur in="SourceGraphic" stdDeviation="35" result="blur"/>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 72 -11" result="filter"/>
                
            </filter>
        </defs>
    </svg>

    {{!-- 2 --}}

    <div class="relative flex justify-center items-center mt-16 mx-auto h-screen rounded-lg shadow-2xl click-and-move overflow-hidden" style="filter: url(#gooey);">
        <div class="absolute rounded-full bg-gray-200 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-gray-900 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-blue-900 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        {{!-- <div class="absolute rounded-full bg-indigo-800 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-purple-700 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-pink-700 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-pink-400 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-blue-900 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-purple-700 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-pink-700 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-pink-400 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-blue-500 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-red-500 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div>
        <div class="absolute rounded-full bg-yellow-400 w-36 h-36" style="left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%)"></div> --}}
    </div>

{{/layouts/default}}