<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tailwind.css">

    <title>FW-V1: {{page}} </title>
</head>

<body class="bg-gray-100 min-h-screen">

    <header class="bg-blue-800 px-8 py-4 text-gray-200 shadow">
        <div class="text-center">Playground</div>
    </header>

    <main id="main" class="min-h-screen">
        {{> @partial-block}}
    </main>

    <footer class="py-4 mt-6 text-gray-300 bg-blue-900 text-center">
        ©2020 Tomás Benitez
    </footer>
</body>

</html>